---
Checks: 'bugprone-*,clang-*,cppcoreguidelines-*,google-*,misc-*,modernize-*,objc-*,performance-*,readability-*,-bugprone-easily-swappable-parameters,-google-objc-function-naming,-google-objc-global-variable-declaration,-modernize-use-trailing-return-type,-readability-convert-member-functions-to-static,-readability-redundant-access-specifiers'
CheckOptions:
 - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
   value: 1
 - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
   value: 1
...
