*.pro.user*
*.so
config.pri

/3rdparty/Countly
/3rdparty/Sparkle

/graphics/logo/web/*.png
/graphics/weather/components/*.png
/graphics/weather/modifiers/*.png
/graphics/weather/mask/components/*.svg
/graphics/weather/mask/modifiers/*.svg

/resources/Android/output/AndroidManifest.xml
