*.pro.user*
*.so
config.pri

/3rdparty/Countly
/3rdparty/Sparkle

/graphics/logo/Web/*.ico
/graphics/logo/Web/*.png
/graphics/weather/components/*.png
/graphics/weather/modifiers/*.png
/graphics/weather/mask/components/*.svg
/graphics/weather/mask/modifiers/*.svg
/graphics/weather/tray/components/**/*.png
/graphics/weather/tray/modifiers/**/*.png

/resources/Android/output/AndroidManifest.xml
