*.pro.user*
*.provisionprofile
*.so
CMakeLists.txt.user*
config.pri
Config.cmake

/*.json
/*.keystore
/*.plist

/.cache
/build

/3rdparty/qt-geoservices-maplibre*
/3rdparty/Countly
/3rdparty/Firebase
/3rdparty/Sparkle

/fastlane/build
/fastlane/report.xml

/graphics/logo/Web/*.ico
/graphics/logo/Web/*.png
/graphics/weather/components/*.png
/graphics/weather/modifiers/*.png
/graphics/weather/mask/components/*.svg
/graphics/weather/mask/modifiers/*.svg
/graphics/weather/tray/components/**/*.png
/graphics/weather/tray/modifiers/**/*.png

/resources/Android/output/AndroidManifest.xml
/resources/Android/output/google-services.json
