# github "Countly/countly-sdk-ios" "23.8.3"
github "ntadej/countly-sdk-ios" "xcframework"

binary "https://sparkle-project.org/Carthage/Sparkle.json"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
