github "Countly/countly-sdk-ios" "24.4.0"

binary "https://sparkle-project.org/Carthage/Sparkle.json"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
