MAPS_ENDPOINT="MAPS_ENDPOINT_VALUE"
API_ENDPOINT="API_ENDPOINT_VALUE"
APPCAST_ENDPOINT="APPCAST_ENDPOINT_VALUE"
COUNTLY_APPKEY="COUNTLY_APPKEY_VALUE"
COUNTLY_ENDPOINT="COUNTLY_ENDPOINT_VALUE"
COUNTLY_SALT="COUNTLY_SALT_VALUE"
