LOGGING=1
MAPS_ENDPOINT="MAPS_ENDPOINT_VALUE"
ARSO_API_ENDPOINT="ARSO_API_ENDPOINT_VALUE"
ARSO_API_RESOURCES="ARSO_API_RESOURCES_VALUE"
COUNTLY_APPKEY="COUNTLY_APPKEY_VALUE"
COUNTLY_ENDPOINT="COUNTLY_ENDPOINT_VALUE"
COUNTLY_SALT="COUNTLY_SALT_VALUE"
