# Mandatory
set(MAPS_ENDPOINT "MAPS_ENDPOINT_VALUE")
set(API_ENDPOINT "API_ENDPOINT_VALUE")
set(APPCAST_ENDPOINT "APPCAST_ENDPOINT_VALUE")
set(COUNTLY_APPKEY "COUNTLY_APPKEY_VALUE")
set(COUNTLY_ENDPOINT "COUNTLY_ENDPOINT_VALUE")
set(COUNTLY_SALT "COUNTLY_SALT_VALUE")

# macOS
set(CODE_SIGN_IDENTITY "")
set(PKG_SIGN_IDENTITY "")
