# Mandatory
set(MAPS_ENDPOINT "" CACHE STRING "maps endpoint")
set(API_ENDPOINT "" CACHE STRING "api endpoint")
set(APPCAST_ENDPOINT "" CACHE STRING "appcast endpoint")
set(COUNTLY_APPKEY "" CACHE STRING "Countly app key")
set(COUNTLY_ENDPOINT "" CACHE STRING "Countly endpoint")
set(COUNTLY_SALT "" CACHE STRING "Countly salt")
