<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Move</key>
   <array>
      <string>${Library}/Preferences/si.tano.Vremenar.plist</string>
      <string>${Caches}/si.tano.Vremenar</string>
      <string>${ApplicationSupport}/si.tano.Vremenar</string>
      <string>${Library}/HTTPStorages/si.tano.Vremenar</string>
   </array>
</dict>
</plist>
