name: iOS CI
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    tags:
      - "**"
    paths-ignore:
      - ".gitignore"
      - "README.md"
      # ignore CI for other platforms
      - ".github/actions/**"
      - ".github/workflows/CI-Android.yml"
      - ".github/workflows/CI-Linux.yml"
      - ".github/workflows/CI-macOS.yml"
      - ".github/workflows/CI-Windows.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  QT_VERSION: 6.9.1
  MAPLIBRE_VERSION: 3.1.0

jobs:
  build:
    name: Build Vremenar (iOS)
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: source
          submodules: recursive
          fetch-depth: 0

      - name: Recover disk space
        run: |
          df -h
          ls /Applications
          brew uninstall google-chrome
          sudo rm -rf /Users/runner/Library/Android
          sudo rm -rf /Applications/Xcode_14*
          sudo rm -rf /Applications/Xcode_15.0*
          sudo rm -rf /Applications/Xcode_15.1*
          sudo rm -rf /Applications/Xcode_15.2*
          sudo rm -rf /Applications/Xcode_15.3*
          ls /Applications
          df -h

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2.0.2
        with:
          cmake-version: "latest"

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Download Qt (Desktop)
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: ==3.1.*
          version: ${{ env.QT_VERSION }}
          target: desktop
          modules: qtlocation qtpositioning qtshadertools qt5compat

      - name: Download Qt (iOS)
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: ==3.1.*
          version: ${{ env.QT_VERSION }}
          target: ios
          modules: qtlocation qtpositioning qtshadertools qt5compat

      - name: Download Qt patches
        run: |
          wget https://github.com/ntadej/qios/releases/download/v${QT_VERSION}.0/qios_v${QT_VERSION}.0.tar.bz2
          tar xvf qios_v${QT_VERSION}.0.tar.bz2 -C ..

      - name: Download MapLibre
        run: |
          wget https://github.com/ntadej/maplibre-native-qt/releases/download/v${MAPLIBRE_VERSION}/maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_iOS.tar.bz2
          tar xvf maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_iOS.tar.bz2

          echo "QMapLibre_DIR=$PWD/maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_iOS" >> $GITHUB_ENV

      - name: Setup Fastlane
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          working-directory: source

      - name: Setup deploy key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}

      - name: Configure & prepare
        working-directory: source
        env:
          APPLE_DEPLOYMENT_KEY: ${{ secrets.APPLE_DEPLOYMENT_KEY }}
          CONFIG_CMAKE: ${{ secrets.CONFIG_CMAKE }}
          GOOGLE_SERVICES_APPLE: ${{ secrets.GOOGLE_SERVICES_APPLE }}
        run: |
          bundle exec fastlane ios prepare_qt6

          echo $APPLE_DEPLOYMENT_KEY | base64 --decode > appstore_api.json
          echo $CONFIG_CMAKE | base64 --decode > Config.cmake
          echo $GOOGLE_SERVICES_APPLE | base64 --decode > GoogleService-Info.plist

      - name: Build
        working-directory: source
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        run: |
          export FL_RUN_CMAKE_XCODE_PATH="${MD_APPLE_SDK_ROOT}"
          export QT_HOST_PATH="$(readlink -f "$QT_ROOT_DIR/../macos")"

          if [ "$GITHUB_REF_NAME" = "deploy" ]; then
            export DEPLOY=true
          fi

          bundle exec fastlane ios app_store || bundle exec fastlane ios app_store
