name: Linux CI
on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    tags:
      - "**"
    paths-ignore:
      - ".gitignore"
      - "README.md"
      # ignore CI for other platforms
      - ".github/workflows/CI-Android.yml"
      - ".github/workflows/CI-iOS.yml"
      - ".github/workflows/CI-macOS.yml"
      - ".github/workflows/CI-Windows.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  QT_VERSION: 6.9.1
  MAPLIBRE_VERSION: 3.1.0

jobs:
  build:
    name: Build Vremenar (Linux x64)
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: source
          submodules: recursive
          fetch-depth: 0

      - name: Download Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: ==3.1.*
          version: ${{ env.QT_VERSION }}
          dir: ${{ github.workspace }}
          target: desktop
          modules: qtlocation qtpositioning qt5compat
          tools: tools_cmake

      - name: Download MapLibre
        run: |
          wget https://github.com/ntadej/maplibre-native-qt/releases/download/v${MAPLIBRE_VERSION}/maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_Linux.tar.bz2
          tar xvf maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_Linux.tar.bz2

          echo "QMapLibre_DIR=$PWD/maplibre-native-qt_v${MAPLIBRE_VERSION}_Qt${QT_VERSION}_Linux" >> $GITHUB_ENV

      - name: Configure & prepare
        working-directory: source
        env:
          CONFIG_CMAKE: ${{ secrets.CONFIG_CMAKE }}
        run: |
          echo $CONFIG_CMAKE | base64 --decode > Config.cmake

          mkdir build

      - name: Build
        uses: ./source/.github/actions/qt6-build
